.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../assets/images/register.png") no-repeat center/cover;
  position: relative;
  overflow: hidden;
}

.photo {
  filter: blur(8px) brightness(0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.formData {
  position: relative;
  z-index: 1;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.topData h2 {
  font-size: 2rem;
  color: #5558ff;
  margin-bottom: 0.5rem;
}

.topData p,
.topData p a {
  font-size: 0.9rem;
  color: #333;
}

.topData p a {
  text-decoration: underline;
  color: #5558ff; /* Blue color for the link */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.blockInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.blockInput select,
.blockInput input[type="date"] {
  padding: 0.5rem 0.75rem;
  border-radius: 0.7rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgb(86, 86, 86);
  font-size: 0.8rem;
  color: #333;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.blockInput select:focus,
.blockInput input[type="date"]:focus {
  border-color: #6b6efe;
}

.button {
  width: 80%; /* Wider button */
  padding: 0.5rem 0; /* Shorter height */
  border-radius: 0.5rem;
  background-color: #5558ff;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  transform: translateX(15%);
}

.button:hover {
  background-color: #6b6efe;
}

.quote {
  display: block;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .formData {
    width: 50%;
  }
}
